@import "_nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

// Отдельные части
.bicyclename {
    color: #14233d;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22px;
}
.bicycleprice {
    color: #297fff;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-transform: uppercase;
}
.questionbtn {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #dde3eb;
    background: #ffffff;
    background: url("../../img/question.png") center no-repeat;
    position: relative;
    cursor: pointer;
    .dropdescription__text {
        display: none;
        position: absolute;
        top: 52px;
        left: -148px;
        background: url("../../img/Union.png");
        padding: 25px 12px 15px 12px;
        width: 260px;
        color: #abb1c5;
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: normal;
        line-height: 19.2px;
        text-align: left;
        cursor: default;
    }
    .dropdescription--visible {
        display: block;
    }
}
.check__option {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    .checkbox__input {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        &:checked + .checkbox__view {
            background: #297fff url("../../img/reversearrowdown.png") center no-repeat;
        }
    }
    .checkbox__view {
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        border: 1px solid #dde3eb;
        background: #ffffff url("../../img/plus.png") center no-repeat;
    }
}
.findbutton {
    width: 260px;
    height: 60px;
    border-radius: 10px;
    background-color: #297fff;
    .findlink {
        width: 260px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-family: "Montserrat";
        font-size: 20px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 22px;
    }
    &:hover {
        background-color: #005eff;
    }
}

.header {
    font-family: "Montserrat";
    padding: 18px 0 18px 380px;
    .header__row {
        display: flex;

        .header__menu {
            .menu__body {
                .menu__list {
                    display: flex;
                    margin: 12px 60px 0 34px;
                    li {
                        margin: 0 37px 0 0;
                        .menu__link {
                            color: #14233d;
                            font-family: Montserrat;
                            font-size: 16px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }

        .header__icon {
            margin: 0 40px 0 0;
        }

        .header__button {
            margin: 0 48px 0 0;
            width: 200px;
            height: 40px;
            border-radius: 10px;
            background-color: #297fff;
            text-align: center;
            .header__link {
                display: block;
                padding: 13px 0 0 0;
                width: 200px;
                height: 40px;
                color: #ffffff;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
            }
            &:hover {
                background-color: #005eff;
            }
        }

        .header__time {
            text-align: right;
            p {
                color: #14233d;
                font-size: 37px;
                font-weight: 700;
                letter-spacing: 3.7px;
                line-height: 44.92px;
            }
        }
    }
}
.footer {
    font-family: "Montserrat";
    flex: 0 0 auto;
    width: 1920px;
    height: 344px;
    background-color: #272934;
    padding: 53px 385px 55px 380px;
    .footer__row {
        display: flex;
        flex-direction: column;
        .footer__menu {
            margin: 0 0 26px 0;
            display: flex;
            .footer__name {
                text-align: left;
                margin: 0 407px 0 0;
                a {
                    color: #ffffff;
                    font-size: 18px;
                    font-weight: 600;
                }
            }

            .footer__menulist {
                display: flex;
                li {
                    margin: 0 46px 0 0;
                    a {
                        color: #ffffff;
                        font-size: 18px;
                        font-weight: 600;
                        font-style: normal;
                        letter-spacing: normal;
                        line-height: normal;
                    }
                    &:last-child {
                        margin: 0 0 0 0;
                    }
                }
            }
        }

        .footer__typeslist {
            margin: 0 0 19px 0;
            li {
                margin: 0 0 6px 0;
                a {
                    color: #f2f4f7;
                    font-size: 16px;
                    font-weight: 500;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: 24px;
                }
            }
        }

        .footer__bottom {
            display: flex;
            justify-content: space-between;
            height: 60px;
            .footer__bikePark {
                color: #f2f4f7;
                font-size: 18px;
                font-weight: 500;
                font-style: normal;
                letter-spacing: normal;
                line-height: normal;
                margin: 25px 0 0 0;
            }

            .footer__politic {
                color: #f2f4f7;
                font-size: 18px;
                font-weight: 500;
                font-style: normal;
                letter-spacing: normal;
                line-height: normal;
                margin: 25px 300px 0 0;
            }

            .footer_socialWeb {
                .facebook {
                    margin: 0 10px 0 0;
                }
            }
        }
    }
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    .content {
        flex: 1 0 auto;
        max-width: 1240px;
        margin: 30px 0 75px 340px;

        .rentdetails {
            border-radius: 20px;
            background-color: #f2f4f7;
            position: relative;
            .rentdetails__head {
                padding: 56px 0 0 40px;
                .rentdetails__head-name {
                    max-width: 560px;
                    text-align: left;
                    h1 {
                        color: #14233d;
                        font-family: "Montserrat";
                        font-size: 48px;
                        font-weight: 600;
                        font-style: normal;
                        letter-spacing: normal;
                        line-height: 57.6px;
                    }
                }

                .rentdetails__image {
                    position: absolute;
                    top: 0;
                    left: 582px;
                    .rentdetails__imagetext {
                        position: absolute;
                        top: 145px;
                        left: 47px;
                        z-index: 4;
                        .rentdetails__namelist {
                            display: flex;
                            margin: 0 0 4px 0;
                            li {
                                margin: 0 112px 0 0;
                                color: #14233d;
                                font-family: "Montserrat";
                                font-size: 18px;
                                font-weight: 500;
                                font-style: normal;
                                letter-spacing: normal;
                                line-height: 22px;
                                &:nth-child(1) {
                                    margin: 0 142px 0 0;
                                }
                            }
                        }
                        .rentdetails__pricelist {
                            display: flex;
                            li {
                                margin: 0 82px 0 0;
                                color: #297fff;
                                font-family: "Montserrat";
                                font-size: 20px;
                                font-weight: 700;
                                font-style: normal;
                                letter-spacing: normal;
                                line-height: 22px;
                            }
                        }
                    }

                    .rentdetails__image-bg {
                        position: relative;
                        .helmetFon {
                            position: absolute;
                            top: 0;
                        }

                        .flashlightFon {
                            position: absolute;
                            top: 0;
                            left: 198px;
                            z-index: 1;
                        }

                        .lockFon {
                            position: absolute;
                            top: 0;
                            left: 397px;
                            z-index: 2;
                        }

                        .mainImages {
                            top: 13px;
                            left: 88px;
                            position: absolute;
                            .helmet {
                                position: absolute;
                            }

                            .flashlight {
                                position: absolute;
                                top: 0;
                                left: 190px;
                                z-index: 2;
                            }

                            .lock {
                                z-index: 3;
                                top: 10px;
                                left: 390px;
                                position: absolute;
                            }
                        }
                    }
                }
            }
            .rentdetails__foot {
                .rentdetails__foot-list {
                    display: flex;
                    margin: 67px 0 15px 0;
                    li {
                        color: #abb1c5;
                        font-family: "Montserrat";
                        font-size: 16px;
                        font-weight: 500;
                        font-style: normal;
                        letter-spacing: normal;
                        line-height: 22px;
                        &:nth-child(1) {
                            margin: 0 202px 0 40px;
                        }
                        &:nth-child(2) {
                            margin: 0 124px 0 0;
                        }
                        &:nth-child(3) {
                            margin: 0 133px 0 0;
                        }
                    }
                }

                .rentdetails__foot-btns {
                    margin: 0 0 0 40px;
                    padding: 0 0 35px 0;
                    max-width: 1160px;
                    .rentdetails__foot__row {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        .renttype {
                            width: 260px;
                            height: 60px;
                            border-radius: 15px;
                            border: 1px solid #dde3eb;
                            background-color: #ffffff;
                        }

                        .starttime {
                            width: 260px;
                            height: 60px;
                            border-radius: 15px;
                            border: 1px solid #dde3eb;
                            background-color: #ffffff;
                        }

                        .finishtime {
                            width: 260px;
                            height: 60px;
                            border-radius: 15px;
                            border: 1px solid #dde3eb;
                            background-color: #ffffff;
                        }

                        .deliverytype {
                            background-color: #fff;
                            border-radius: 15px;
                        }
                    }
                }
            }
        }

        .connector {
            margin: 0 0 0 40px;
        }

        .bicycletype {
            padding: 0 40px 0 40px;
            border-radius: 20px;
            background-color: #f2f4f7;
            .bicycletype__headname {
                display: inline-block;
                margin: 26px 0 0 0;
                color: #abb1c5;
                font-family: "Montserrat";
                font-size: 16px;
                font-weight: 500;
                font-style: normal;
                letter-spacing: normal;
                line-height: 22px;
            }
            .bicycletype__row {
                display: flex;
                padding: 140px 0 42px 0;
                justify-content: space-between;

                .bicycletypecontent {
                    position: relative;
                    width: 260px;
                    height: 142px;
                    border-radius: 15px;
                    background-color: #ffffff;
                    padding: 0 24px 0 24px;

                    .bicycletype__image {
                        position: absolute;
                        top: -110px;
                        left: 0;
                    }

                    .bicycletype__name {
                        padding: 49px 0 13px 0;
                    }

                    .bicycletype__foot__row {
                        line-height: 0px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;

                        .bicycletype__question__add__row {
                            width: 90px;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                        }
                    }
                }
            }
            .bicycletype__button__row {
                display: flex;
                justify-content: center;
                align-items: center;
                .bicycletype__button {
                    margin: 0 0 46px 0;
                }
            }
        }
    }
}
.dropdown__button {
    position: relative;
    z-index: 2;
    width: 260px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid #dde3eb;
    font-family: "Montserrat";
    color: #14233d;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22px;
    text-align: left;
    padding: 0 0 0 20px;
    cursor: pointer;
    background: url("../img/selectArrow.png") no-repeat right 18px center;
}
.dropdown {
    position: relative;
    .dropdown__input-hidden {
        display: none;
    }
    .dropdown__list {
        display: none;
        z-index: 1;
        position: absolute;
        overflow: hidden;
        left: 0;
        top: 0;
        width: 260px;
        border-radius: 15px;
        border: 1px solid #dde3eb;
        background-color: #ffffff;
        padding: 71px 0 0 0;
        cursor: pointer;
        .dropdown__list-item {
            color: #14233d;
            font-family: "Montserrat";
            font-size: 18px;
            font-weight: 500;
            font-style: normal;
            letter-spacing: normal;
            line-height: 22px;
            padding: 16px 0 19px 20px;
            &:hover {
                background-color: #f2f4f7;
            }
            &:last-child {
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
            }
        }
    }
    .dropdown__list--visible {
        display: block;
    }
}
